body {
  background-color: rgb(255, 215, 248);
}

input[type="text"] {
  display: block;
  margin: auto;
  margin-top: 30vh;
  width: 60vw;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(253, 194, 242);
  outline: none;
}

input[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 3rem;
  width: 20vw;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 153, 236);
  border: 1px solid rgb(212, 160, 255);
  outline: none;
}

h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.25rem;
}
